@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:ital,wght@1,400;1,500&family=Outfit:wght@100;200;400;600&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
}

body {
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-basis: auto;
}

/* .wrapper {
   
} */



.navbar {
    background-color: antiquewhite;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
    flex-shrink: 1;
    flex-basis: auto;
    flex-grow: 1;
}


.list-navbar {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    font-weight: 500;
    width: 120px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
}

.list-navbar:hover {
    background-color: #fff;
    font-size: 1.1em;
    transition: 0.4s;
}

.shop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    font-size: 20px;
    width: 200px;
    height: 80px;
    border-radius: 40px;
    gap:45px;
    font-weight: 600;
    cursor: pointer;
    
}

.shop img {
    width:50px;
}

.shop:hover {
    background-color: #fff;
    font-size: 1.5em;
    transition: 0.4s;
}



.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}


.card-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    background-color:#fff ;
    padding-top: 20px;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    
    width: 300px;
    height: 350px;
    border: 1px solid grey;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card span {
    justify-content: space-around;
}

.card img{
    width: 300px;
}

.text {
    background-color: antiquewhite;
    width: 300px;
    height: 180px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.text button {
    width: 150px;
    background-color: orange;
    height: 40px;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

.text button:hover {
    background-color: #fff;
    font-size: 1.1em;
    transition: 0.4s;
}

.title-card-honey {
    font-weight: 600;
}

.article {
    min-width: 200px;
    margin:50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    flex-shrink: 1;
    flex-basis: auto;
    flex-grow: 1;
}

.title-text {
display: flex;
flex-direction: column;

}

.article img{
    width: 500px;
}